[% META title='List of bookings'%]

[% IF error %]
  [% error | html %]
[% END %]

<ul class='list-of-bookings'>
[% FOREACH booking IN bookings %]
<li>
[% SET id = booking.id%]
<a href='[% c.uri_for("/booking/$id") %]'>[% booking.id %]</a>
</li>
[% END %]
</ul>

[%# USE Dumper %]
[%# Dumper.dump_html(resources) %]