[% META title='Smeagol index'%]

<ul class='list-of-actions'>
  <li>
    <a href='[% c.uri_for("/resource") %]' content-type='text/html'>List of resources</a>
  </li>
    <li>
    <a href='[% c.uri_for("/tag") %]'>List of tags</a>
  </li>
    <li>
    <a href='[% c.uri_for("/event") %]'>List of events</a>
  </li>
    <li>
    <a href='[% c.uri_for("/booking") %]'>List of bookings</a>
  </li>
</ul>