<!DOCTYPE html>
<html>  
  <head>
    <title>No s'ha trobat. 404</title>
    [% META title='No s\'ha trobat' %]
  </head>

<body>
<h1>No hem trobat el què busques :(</h1>

<p><a href='[% c.uri_for("/resource")%]'>Tornar a la llista de recursos</a></p>
<p><a href='[% c.uri_for("/tag")%]'>Tornar a la llista de tags</a></p>
</body>

</html>